<div class="form-signin col-lg-offset-4 col-lg-4">
    <h2 class="form-signin-heading" style="color:white">Login</h2>
    {{input
        type='text'
        class='form-control'
        value=email
        placeholder='Email'
    }}
    {{input
        type='password'
        class='form-control'
        value=password
        placeholder='Password'
    }}
    {{#if session.isWorking}}
    <button class='btn btn-default' disabled='disabled'>
        {{fa-icon 'spinner' spin=true}} Signing in...
    </button>
    {{else}}
    <button class="btn btn-lg btn-primary btn-block" disabled={{isDisabled}} {{action 'login' 'password'}}>{{fa-icon 'sign-in'}} Login</button>
    {{/if}}
    {{#if responseMessage}}
          <div class="alert alert-success">{{responseMessage}}</div>
    {{/if}}
    <br/><br/>
</div>
